/* Base Styles */
* {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

header {
  width: 960px;
  height: 100px;
  background: #2d2d2d;
}

.nav li {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  height: 100px;
  width: 100px;
  position: relative;
  background-color: #000;
}

.nav li.selected {
  background-color: red;
}

.nav div {
  position: absolute;
  bottom: 0;
  height: 86px;
  width: 100px;
  background-color: #2d2d2d;
  color: #878787;
}

.nav div:hover {
  background-color: #000;
  color: #fff;
}

.nav div p {
  text-align: center;
  padding-top: 33px;
  font-family: "Droid Sans 700", sans-serif;
  font-weight: bolder;
}

.nav div .current {
  color: #fff;
}
.social_media li {
  float: right;
  display: inline-block;
  margin: 30px 15px;
}

.social_media li:first-child {
  margin-right: 30px;
}

.social_media img {
  width: 35px;
  height: 35px;
}

footer {
  width: 960px;
  height: 50px;
  background-color: #2d2d2d;
}

footer p {
  font-size: .8em;
  color: white;
  text-align: center;
  padding-top: 15px;
}


/* ##################################### */



.clearfix {
  clear:both;
}

h2 {
  text-align: center;
  margin: 28px 20px 16px;
}

h2.title {
  margin: 100px auto 10px;
}

.banner {
  position: relative;
  height: 590px;
  width: 960px;
}

.overlay {
  position: absolute;
  height: 590px;
  width: 285px;
  left: 0;
  top: 0;
  color: white;
  background-color: rgba(58, 58, 58, 0.7);
}

.overlay p {
  font-size: 1.4em;
  line-height: 26px;
  margin: 20px;
}


.divider {
  width: 175px;
  height: 2px;
  display: block;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
  margin: 10px 0;
}

.centered {
    margin: 0 auto;
}

p.button {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25em;
  background: #E00000;
  padding: 12px 30px;
  text-decoration: none;
  margin: 20px auto;
  width: 136px;
  text-align: center;
}

p.button:hover {
 background: #f00;
 text-decoration: none;
}

#recent {
  width: 960px;
}

#recent ul li {
  margin: 15px 0;
}

#recent ul img {
  display: block;
  float: left;
  margin: 15px 20px 15px 0;
  width: 475px;
  height: 300px;
}

#recent li div.kitty {
  float: left;
  display: inline-block;
  width: 425px;
  height: 260px;
  line-height: 22px;
  margin: 15px 0;
  background-color: #2d2d2d;
  color: #fff;
  padding: 20px;
}

#recent li div div {
  margin: 15px 0 30px;
}
footer {
  clear: both;
}
