/* Base Styles */

* {
  font-family: "Helvetica-Light", sans-serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Header Styles */
header {
  width: 960px;
  height: 100px;
  background: #2d2d2d;
}

.nav li {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  height: 100px;
  width: 100px;
  position: relative;
  background-color: #000;
}

.nav li.selected {
  background-color: red;
}

.nav div {
  position: absolute;
  bottom: 0;
  height: 86px;
  width: 100px;
  background-color: #2d2d2d;
  color: #878787;
}

.nav div:hover {
  background-color: #000;
  color: #fff;
}

.nav div p {
  text-align: center;
  padding-top: 33px;
  font-family: "Droid Sans 700", sans-serif;
  font-weight: bolder;
}

.nav div .current {
  color: #fff;
}
.social_media li {
  float: right;
  display: inline-block;
  margin: 30px 15px;
}

.social_media li:first-child {
  margin-right: 30px;
}

.social_media img {
  width: 35px;
  height: 35px;
}

/* Main Content Styles */
.divider {
  width: 175px;
  height: 2px;
  display: block;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.centered {
    margin: 0 auto;
}

p.button {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.4em;
  background: #E00000;
  text-decoration: none;
  text-align: center;
}

p.button:hover {
 background: #f00;
 text-decoration: none;
}

/* Index Page Styles */

h2.title {
  margin: 100px auto 10px;
}

.banner {
  position: relative;
  height: 590px;
  width: 960px;
}

.overlay {
  position: absolute;
  height: 590px;
  width: 285px;
  left: 0;
  top: 0;
  color: white;
  background-color: rgba(58, 58, 58, 0.7);
}

.overlay p {
  font-size: 1.4em;
  line-height: 26px;
  margin: 20px;
}

.overlay .button {
  padding: 15px 30px;
  margin: 20px auto;
  width: 136px;
}

#recent {
  width: 960px;
}

h2.subhead {
  text-align: center;
  margin: 28px 20px 16px;
}

#recent p {
  font-size: 1.25em;
}

#recent ul li {
  margin: 15px 0;
}

#recent ul img {
  display: block;
  float: left;
  margin: 15px 20px 15px 0;
  width: 475px;
  height: 300px;
}

.kitty {
  float: left;
  display: inline-block;
  width: 417px;
  height: 260px;
  line-height: 26px;
  margin: 15px 0;
  background-color: #2d2d2d;
  color: #fff;
  padding: 24px 24px 16px;
}

.kitty span {
    margin-top: 10px;
}

#recent li div div {
  margin: 15px 0 30px;
}

/* About Page Styles */

section .fold {
  padding-top: 30px;
  height: 400px;
  width: 960px;
}

div .aboutUs {
  float: left;
  background: green;
  height: 300px;
  width: 960px;
}

.poem ul {
  font-size: 1.25em;
  float: left;
}

.poem li {
  display: inline-block;
  width: 400px;
  margin-right: 30px;
}

.poem li:last-child {
  display: inline-block;
  width: 400px;
  margin-right: 0px;
}

/* Footer Styles */
footer {
  width: 960px;
  height: 50px;
  background-color: #2d2d2d;
  clear: both;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 18px;
}
