/* Base Styles */
* {
  font-family: "Helvetica-Light", sans-serif;
  }

h1 {
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.inner {
  margin: 0 auto;
  width: 960px;
}

header {
  width: 960px;
  height: 100px;
  background: #2d2d2d;
}

.nav li {
  display: inline-block;
  float: left;
  text-transform: uppercase;
  height: 100px;
  width: 100px;
  position: relative;
  background-color: #000;
}

.nav li.selected {
  background-color: red;
}

.nav div {
  position: absolute;
  bottom: 0;
  height: 86px;
  width: 100px;
  background-color: #2d2d2d;
  color: #878787;
}

.nav div:hover {
  background-color: #000;
  color: #fff;
}
a {
  /*color: inherit;*/
  text-decoration: none;
}

.nav div p {
  text-align: center;
  padding-top: 33px;
  font-family: "Droid Sans 700", sans-serif;
  font-weight: bold;
}

.nav div .current {
  color: #fff;
}
.social_media li {
  float: right;
  display: inline-block;
  margin: 30px 15px;
}

.social_media li:first-child {
  margin-right: 30px;
}
.social_media img {
  width: 35px;
  height: 35px;
}

/* Body */

/* Main Content Styles */
.divider {
  width: 175px;
  height: 2px;
  display: block;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.centered {
    margin: 0 auto;
}

p.button {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.4em;
  background: #E00000;
  text-decoration: none;
  text-align: center;
}

p.button:hover {
 background: #f00;
 text-decoration: none;
}

/* Index Page Styles */

h2.title {
  text-align: center;
  margin: 100px auto 10px;
}

.banner {
  position: relative;
  height: 590px;
  width: 960px;
}

.overlay {
  position: absolute;
  height: 590px;
  width: 285px;
  left: 0;
  top: 0;
  color: white;
  background-color: rgba(58, 58, 58, 0.7);
}

.overlay p {
  font-size: 1.4em;
  line-height: 26px;
  margin: 20px;
}

.overlay .button {
  padding: 15px 30px;
  margin: 20px auto;
  width: 136px;
}

.slider-container {
  position: absolute;
  bottom: 0;
  width: 960px;
  height: 65px;
}

.slider {
  width: 191px;
  margin: 0 auto;
}

.slider span {
  display: inline-block;
  height: 17px;
  width: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 7px;
}

.slider span.solid {
  background-color: #fff;
}

#recent {
  width: 960px;
}

#recent h1 {
  color: #000;
  margin: 28px 20px 16px;
}

#recent p {
  font-size: 1.25em;
}

#recent ul li {
  margin: 15px 0;
}

#recent ul img {
  display: block;
  float: left;
  margin: 15px 20px 15px 0;
  width: 475px;
  height: 300px;
}

.kitty_bio {
  float: left;
  display: inline-block;
  width: 417px;
  height: 260px;
  line-height: 26px;
  margin: 15px 0;
  background-color: #2d2d2d;
  color: #fff;
  padding: 24px 24px 16px;
}

.kitty_bio span {
    margin-top: 10px;
}

#recent li div div {
  margin: 15px 0 30px;
}

/* About Page Styles */

.about {
  overflow: hidden;
}

.aboutUs {
  background-color: #3A3A3A;
  float: left;
  width: 960px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  }

.aboutUs h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.poem {
  margin-left: 31px;
  margin-top: 20px;
  float: left;
  margin-bottom: 30px;
}

.poem li {
  display: inline-block;
  width: 435px;
  margin-right: 30px;
}

.poem p {
  line-height: 25px;
  font-size: 22px;
}

.poem li:last-child {
  display: inline-block;
  width: 435px;
  margin-right: 0px;
}

/* Aziza's css for contact page */

.kittyImg img{
  height: 450px;
  width:960px;
  opacity: .5;
  position: relative;
}

h1.border{
  position:absolute;
  top: 234px;
  left: 139px;
  color: #ffffff;
  font-weight:bold;
  width: 675px;
  height: 162px;
  border: 6px solid #ffffff;
  margin: -4px;
  text-align: center;
  margin-top:-19px;
  padding-top:75px;
  }

form {  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  padding: 1em;
}

fieldset {
margin: 13px 0;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: left;
}

textarea {
    width: 266px;
    height: 100px;
    padding: 8px 5px;
    background-color: #f8f8f8;
}

input[type="text"] {
  padding: 8px 5px;
  width:266px;
}

input[type="text"]:focus {
  background: #444;
  color: #fff;
}

input[type="submit"] {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  background:  #E00000;
  padding: 14px 30px;
  text-decoration: none;
  margin-left: 194px;
  width: 179px;
  border:none;
}

input[type="submit"]:hover {
  background: #f00;
  text-decoration: none;
}

.chat_form {
  background:#3A3A3A;
  width:960px;
  heght:450px;
  color:white;
  margin-top: 20px;
}

h2.contact {
  padding-top: 30px;
}

/* Footer Styles */

footer {
  width: 960px;
  height: 50px;
  background-color: #2d2d2d;
  clear: both;
}

footer p {
  color: white;
  text-align: center;
  padding-top: 18px;
}
